version: 2.1

jobs:
  smoke_test:
    parameters:
      version:
        description: 'Expected version of Python to be used'
        type: string
      poetry:
        description: 'Whether to test Poetry support'
        type: boolean
    docker:
      - image: "mr0grog/circle-python-pre:<< parameters.version >>"
    steps:
      - checkout

      - run:
          name: Run Test
          command: |
            ./smoke-test.sh '<< parameters.version >>'

      - run:
          name: Upgrade Pip
          command: |
            pip install --upgrade pip

      - when:
          condition: << parameters.poetry >>
          steps:
            - run:
                name: Check Poetry
                command: |
                  poetry --help

workflows:
  ci:
    jobs:
      - smoke_test:
          version: 3.15.0a6
          poetry: true
      - smoke_test:
          name: smoke_test-freethreading
          version: 3.15.0a6t
          poetry: false
